<link href="https://codio.github.io/parsons-puzzle-ui/dist/parsons/parsons.css" rel="stylesheet" />
<link href="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/prettify.css" rel="stylesheet" />

<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/jquery.min.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/jquery-ui.min.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/jquery.ui.touch-punch.min.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/skulpt.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/skulpt-stdlib.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/underscore-min.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/lis.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/jquery.sound.js"></script>
<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/lib/prettify.js"></script>

<script src="https://codio.github.io/parsons-puzzle-ui/dist/parsons/parsons.js"></script>